

#entete {
    background-color: red;
    width: 100%;
    height: 170px;
    /* position: absolute; */
    left: 0px;
    top: 0px;
    display: flex; 
    flex-direction: row;
    justify-content: space-between; /* pour placer le titre a gauche et le panier a droite */ 
}

#zoneContenuItem {
    background-color: #dedede;
    width: 100%;
    /* height: auto; */
    /* position: absolute; */
    top: 170px;
    left: 0px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#zoneContenuFacture {
    background-color: #dedede;
    width: 100%;
    height: 100%;
    /* position: absolute; */
    top: 170px;
    left: 0px;
    padding-top: 50px;
    display: none;

}

#entete h1 {
    font-family: arial;
    font-size: 50px;
    color: white;
    text-align: center;
    position: relative;
    top: 50px;

}

#panier {
    background-color: blue;
    width: 120px;
    font-family: arial;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    height: 25%;
    /* float: right; */
    /* position: relative; */
    /* top: -120px; */
}

.item {
    font-size: 16px;
    font-family: arial;
    text-align: center;
    color: white;
    width: 200px; /* modification de 20% a 200px pour permettre a flew-wrap: wrap de fonctionner */
    margin-left: 4%;
    padding-top: 30px;
    display: inline-block;
}

.ajouter {
    background-color: red;
    width: 50%;
    height: 30px;
    padding-top: 10px;
    font-weight: bold;
    margin-left: 25%;
    margin-top: 10px;
}

.container {
    display: flex;
    flex-direction: column;
}
