body{
    margin: 0;
}
#entete {
    background-color: red;
    width: 100%;
    height: 170px;
    /* position: absolute; */
    left: 0px;
    top: 0px;
    display: flex; 
    flex-direction: column;
    justify-content: space-between; /* pour placer le titre a gauche et le panier a droite */ 
}

#zoneContenuItem {
    background-color: #dedede;
    width: 100%;
    height: auto;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px 0 20px 0;
}

#zoneContenuFacture {
    background-color: #dedede;
    width: 100%;
    height: 100%;
    /* position: absolute; */
    top: 170px;
    left: 0px;
    padding-top: 50px;
    display: none;
    flex-direction: column;
}

#entete h1 {
    font-family: arial;
    font-size: 50px;
    color: white;
    text-align: center;
    position: relative;

}

#panier {
    display: flex;
    align-self: end;
    background-color: blue;
    width: 120px;
    font-family: arial;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    height: 10%;
}

#panier:hover {
    cursor: pointer;
}

#idItem{
    color: red;
    font-size: 18px;
    margin-left:5px;
}

.item {
    font-size: 16px;
    font-family: arial;
    text-align: center;
    color: white;
    margin-left: 4%;
    padding-top: 30px;
    display: inline-block;
}

.ajouter {
    background-color: red;
    width: 50%;
    height: 30px;
    padding-top: 10px;
    font-weight: bold;
    margin-left: 25%;
    margin-top: 10px;
}

.ajouter:hover {
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
}

table {
    margin: auto;
}

@media (max-width: 600px) {
    tr {
        display: flex;
        flex-direction: column; /* pour afficher le tableau verticallement */
    }

}