body{
    margin: 0;
    font-size: arial;
    background-color: #dedede;
}
/************************************************ Partie Entete ************************************************/
#entete{
    background-color: red;
    height: 170px;
    width: 100%;
    display:grid;
    grid-template-rows: 1fr 6fr;
}
#entete > h1{
    font-family: Arial;
    font-size: 50px;
    text-align: center;
    align-self: end;
    color: white;
}
#panier{
    background-color: blue;
    font-family: Arial;
    justify-self: right; 
    text-align: center;
    font-size: 16px;
    width: 120px;
    height: 20px;
    color: white;
    font-weight: bold;
    padding: 10px;
}
#panier:hover{
    cursor: pointer;
}
#idItem{
    color: red;
    font-size: 18px;
}

/******************************************* Partie Zone Contenu Item ******************************************/
#zoneContenuItem{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 3em;
    padding: 20px 0 20px 0;
}
.item{
    justify-content: center;
    font-size: 16px;
    font-family: Arial;
    text-align: center;
    color: white;
    padding-top: 30px;
}
.ajouter{
    background-color: red;
    width: 35%;
    height: 30px;
    font-weight: bold;
    margin: 10px auto 0 auto;
    padding-top: 10px;
}
.ajouter:hover{
    cursor: pointer;
}

/***************************************** Partie Zone Contenu Facture *****************************************/
#zoneContenuFacture{
    background-color: #dedede;
    width: 100%;
    height: 100%;
    padding-top: 50px; /*Ajout d'espace en haut de la zoneContenuFacture */
    display: none; /* cacher la zone contenu Facture au lancement de la page*/
}